<link href="../styles/slider.css" rel="stylesheet" type="text/css">

<select ng-model="selectedGame" ng-change="changeRoom(selectedGame)">
    <option value="football">Football</option>
    <option value="table-tennis">Table Tennis</option>
    <option value="badminton">Badminton</option>
    <option value="basketball">Basketball</option>
    <option value="cricket">Cricket</option>
    <option value="volleyball">Volleyball</option>
</select>

<div ng-switch="selectedGame">


    <div ng-switch-when="football">
        <form ng-submit="updateFootball()">
            <div>
                <b>LIVE : </b>
                <p>No.of viewers - {{footballScoreBoard.viewers}}</p>
                <label class="switch">
                    <input type="checkbox" ng-model="footballScoreBoard.isLive" ng-change="updateFootball()">
                    <span class="slider round"></span>
                </label>
            </div>
            <div>
                <b>Half Time : </b>
                <label class="switch">
                    <input type="checkbox" ng-model="footballScoreBoard.isHalfTime" ng-change="updateFootball()">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <input class="form-control" ng-model="footballScoreBoard.team1.name" name="team1name" placeholder="name of team 1">
                    <div>
                        <h1>{{ footballScoreBoard.team1.scores.length }}</h1>
                        <input class="form-control" ng-model="footBallScorer1" placeholder="scorer's name">
                        <button class="btn btn-primary" ng-click="addFootballScore1(footBallScorer1)">Add a Goal</button>
                    </div>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Goal</th>
                                <th>Goal Scorer</th>
                                <th>Time</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="goal in footballScoreBoard.team1.scores track by $index">
                                <td>{{$index + 1}}</td>
                                <td>{{goal.scorer}}</td>
                                <td>{{goal.time}}</td>
                                <td>
                                    <button class="btn btn-danger" ng-click="delFootballScore1($index)">X</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <input class="form-control" ng-model="footballScoreBoard.team2.name" name="team2name" placeholder="name of team 2">
                    <div>
                        <h1>{{ footballScoreBoard.team2.scores.length }}</h1>
                        <input class="form-control" ng-model="footBallScorer2" placeholder="scorer's name">
                        <button class="btn btn-primary" ng-click="addFootballScore2(footBallScorer2)">Add a Goal</button>
                    </div>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Goal</th>
                                <th>Goal Scorer</th>
                                <th>Time</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="goal in footballScoreBoard.team2.scores track by $index">
                                <td>{{$index + 1}}</td>
                                <td>{{goal.scorer}}</td>
                                <td>{{goal.time}}</td>
                                <td>
                                    <button class="btn btn-danger" ng-click="delFootballScore2($index)">X</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update Team Names</button>
            <button ng-click="resetGameFootball()" class="btn btn-danger">Reset Game</button>

        </form>
        <form ng-submit="commentFootball(footballComments)">
            <input class="form-control" ng-model="footballComments" placeholder="make some commentary">
            <button type="submit" class="btn btn-primary">Comment</button>
        </form>
        <div class="well" ng-if = "footballScoreBoard.commentary.length > 0">
            Commentary section : -
            <div ng-repeat="c in footballScoreBoard.commentary track by $index">
                <b>{{c.time}}</b>
                <span>{{c.text}}</span>
            </div>
        </div>
    </div>


    <div ng-switch-when="table-tennis">
        <h1>Set No : {{tennisScoreBoard.setNumber}}</h1>
        <p>No.of viewers - {{tennisScoreBoard.viewers}}</p>
        <form ng-submit="updateTennis()">
            <div>
                <b>LIVE : </b>
                <label class="switch">
                    <input type="checkbox" ng-model="tennisScoreBoard.isLive" ng-change="updateTennis()">
                    <span class="slider round"></span>
                </label>
            </div>
            <div>
                <b>Break : </b>
                <label class="switch">
                    <input type="checkbox" ng-model="tennisScoreBoard.isBreak" ng-change="updateTennis()">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="well" ng-if="tennisScoreBoard.setHistory.length > 0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Set Number</th>
                            <th>Wins</th>
                            <th>Losses</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="set in tennisScoreBoard.setHistory track by $index">
                            <td>{{set.setnumber}}</td>
                            <td>

                                {{set.winner}} {{set.winpoints}}

                            </td>
                            <td>

                                {{set.loser}} {{set.losepoints}}

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <input class="form-control" ng-model="tennisScoreBoard.player1.name" name="tplayer1name" placeholder="name of player 1">
                    <input class="form-control" ng-model="tennisScoreBoard.player1.college" name="tplayer1college" placeholder="college of player 1">
                    <div>
                        <input type="number" class="form-control" ng-model="tennisScoreBoard.player1.points" placeholder="enter points">
                        <button ng-click="changeTennisScore1(1)" class="btn btn-success">+1</button>
                        <button ng-click="changeTennisScore1(-1)" class="btn btn-danger">-1</button>
                    </div>
                    <input class="form-control" ng-model="tennisScoreBoard.player1.setWins">
                    <button ng-click="changeTennisSet1(1)" class="btn btn-success">+1</button>
                    <button ng-click="changeTennisSet1(-1)" class="btn btn-danger">-1</button>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <input class="form-control" ng-model="tennisScoreBoard.player2.name" name="tplayer2name" placeholder="name of player 2">
                    <input class="form-control" ng-model="tennisScoreBoard.player2.college" name="tplayer2college" placeholder="college of player 2">
                    <div>
                        <input class="form-control" ng-model="tennisScoreBoard.player2.points" placeholder="enter points">
                        <button ng-click="changeTennisScore2(1)" class="btn btn-success">+1</button>
                        <button ng-click="changeTennisScore2(-1)" class="btn btn-danger">-1</button>
                    </div>

                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <button ng-click="endSetTennis()" class="btn btn-warning">Finish Set</button>
            <button ng-click="resetGameTennis()" class="btn btn-danger">Reset Game</button>
        </form>
        <form ng-submit="commentTennis(tennisComments)">
            <input class="form-control" ng-model="tennisComments" placeholder="make some commentary">
            <button type="submit" class="btn btn-primary">Comment</button>
        </form>
        <div class="well" ng-if = "tennisScoreBoard.commentary.length > 0">
            Commentary section : -
            <div ng-repeat="c in tennisScoreBoard.commentary track by $index">
                <b>{{c.time}}</b>
                <span>{{c.text}}</span>
            </div>
        </div>
    </div>

    <div ng-switch-when="badminton">
            <p>No.of viewers - {{badmintonScoreBoard.viewers}}</p>
        <div>
            <b>LIVE : </b>
            <label class="switch">
                <input type="checkbox" ng-model="badmintonScoreBoard.isLive" ng-change="updateBadminton()">
                <span class="slider round"></span>
            </label>
        </div>
        <div>
            <b>Break : </b>
            <label class="switch">
                <input type="checkbox" ng-model="badmintonScoreBoard.isBreak" ng-change="updateBadminton()">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="well" ng-if="badmintonScoreBoard.setHistory.length > 0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Set Number</th>
                        <th>Wins</th>
                        <th>Losses</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="set in badmintonScoreBoard.setHistory track by $index">
                        <td>{{set.setnumber}}</td>
                        <td>

                            {{set.winner}} {{set.winpoints}}

                        </td>
                        <td>

                            {{set.loser}} {{set.losepoints}}

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h1>Set No : {{badmintonScoreBoard.setNumber}}</h1>
        <form ng-submit="updateBadminton()">

            <div class="row">
                <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <input class="form-control" ng-model="badmintonScoreBoard.player1.name" name="bplayer1name" placeholder="name of player 1">
                    <input class="form-control" ng-model="badmintonScoreBoard.player1.college" name="bplayer1college" placeholder="college of player 1">
                    <div>
                        <input class="form-control" type="number" ng-model="badmintonScoreBoard.player1.points" placeholder="enter points">
                        <button ng-click="changeBadmintonScore1(1)" class="btn btn-success">+1</button>
                        <button ng-click="changeBadmintonScore1(-1)" class="btn btn-danger">-1</button>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <input class="form-control" ng-model="badmintonScoreBoard.player2.name" name="bplayer2name" placeholder="name of player 2">
                    <input class="form-control" ng-model="badmintonScoreBoard.player2.college" name="bplayer2college" placeholder="college of player 2">
                    <div>
                        <input class="form-control" type="number" ng-model="badmintonScoreBoard.player2.points" placeholder="enter points">
                        <button ng-click="changeBadmintonScore2(1)" class="btn btn-success">+1</button>
                        <button ng-click="changeBadmintonScore2(-1)" class="btn btn-danger">-1</button>
                    </div>

                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <button ng-click="endSetBadminton()" class="btn btn-warning">Finish Set</button>
            <button ng-click="resetGameBadminton()" class="btn btn-danger">Reset Game</button>
        </form>
        <form ng-submit="commentBadminton(badmintonComments)">
            <input class="form-control" ng-model="badmintonComments" placeholder="make some commentary">
            <button type="submit" class="btn btn-primary">Comment</button>
        </form>
        <div class="well" ng-if = "badmintonScoreBoard.commentary.length > 0">
            <div ng-repeat="c in badmintonScoreBoard.commentary track by $index">
                <b>{{c.time}}</b>
                <span>{{c.text}}</span>
            </div>
        </div>
    </div>

    <div ng-switch-when="basketball">
            <p>No.of viewers - {{basketballScoreBoard.viewers}}</p>
        <form ng-submit="updateBasketball()">
            <div>
                <b>LIVE : </b>
                <label class="switch">
                    <input type="checkbox" ng-model="basketballScoreBoard.isLive" ng-change="updateBasketball()">
                    <span class="slider round"></span>
                </label>
            </div>
            <div>
                <b>Break : </b>
                <label class="switch">
                    <input type="checkbox" ng-model="basketballScoreBoard.isBreak" ng-change="updateTennis()">
                    <span class="slider round"></span>
                </label>
            </div>
            <p>Current Quarter - {{ basketballScoreBoard.quarterNumber }}</p>
            <button ng-click="changeBasketballQuarter(1)" class="btn btn-success">+1</button>
            <button ng-click="changeBasketballQuarter(-1)" class="btn btn-danger">-1</button>
            <div class="row">
                <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <input class="form-control" ng-model="basketballScoreBoard.team1.name" name="bplayer1name" placeholder="name of team 1">
                    <div>
                        <input class="form-control" type="number" ng-model="basketballScoreBoard.team1.scores" placeholder="enter points">
                        <button ng-click="changeBasketballScore1(1)" class="btn btn-success">+1</button>
                        <button ng-click="changeBasketballScore1(-1)" class="btn btn-danger">-1</button>
                    </div>

                </div>
                <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <input class="form-control" ng-model="basketballScoreBoard.team2.name" name="bplayer2name" placeholder="name of team 2">
                    <div>
                        <input class="form-control" type="number" ng-model="basketballScoreBoard.team2.scores" placeholder="enter points">
                        <button ng-click="changeBasketballScore2(1)" class="btn btn-success">+1</button>
                        <button ng-click="changeBasketballScore2(-1)" class="btn btn-danger">-1</button>
                    </div>

                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <button ng-click="resetGameBasketball()" class="btn btn-danger">Reset Game</button>
        </form>
        <form ng-submit="commentBasketball(basketballComments)">
            <input class="form-control" ng-model="basketballComments" placeholder="make some commentary">
            <button type="submit" class="btn btn-primary">Comment</button>
        </form>
        <div class="well" ng-if = "basketballScoreBoard.commentary.length > 0">
            <div ng-repeat="c in basketballScoreBoard.commentary track by $index">
                <b>{{c.time}}</b>
                <span>{{c.text}}</span>
            </div>
        </div>
    </div>

    <div ng-switch-when="cricket">
        <h1>Set No : {{cricketScoreBoard.setNumber}}</h1>
        <form ng-submit="updateCricket()">
            <label class="switch">
                <input type="checkbox" ng-model="cricketScoreBoard.isLive" ng-change="updateCricket()">
                <span class="slider round"></span>
            </label>
            <div class="row">
                <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <input class="form-control" ng-model="badmintonScoreBoard.player1.name" name="bplayer1name" placeholder="name of player 1">
                    <input class="form-control" ng-model="badmintonScoreBoard.player1.college" name="bplayer1college" placeholder="college of player 1">
                    <div>
                        <input class="form-control" type="number" ng-model="badmintonScoreBoard.player1.points" placeholder="enter points">
                        <button ng-click="changeBadmintonScore1(1)" class="btn btn-success">+1</button>
                        <button ng-click="changeBadmintonScore1(-1)" class="btn btn-danger">-1</button>
                    </div>
                    <input class="form-control" type="number" ng-model="badmintonScoreBoard.player1.setWins">
                    <button ng-click="changeBadmintonSet1(1)" class="btn btn-success">+1</button>
                    <button ng-click="changeBadmintonSet1(-1)" class="btn btn-danger">-1</button>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <input class="form-control" ng-model="badmintonScoreBoard.player2.name" name="bplayer2name" placeholder="name of player 2">
                    <input class="form-control" ng-model="badmintonScoreBoard.player2.college" name="bplayer2college" placeholder="college of player 2">
                    <div>
                        <input class="form-control" type="number" ng-model="badmintonScoreBoard.player2.points" placeholder="enter points">
                        <button ng-click="changeBadmintonScore2(1)" class="btn btn-success">+1</button>
                        <button ng-click="changeBadmintonScore2(-1)" class="btn btn-danger">-1</button>
                    </div>
                    <input class="form-control" type="number" ng-model="badmintonScoreBoard.player2.setWins">
                    <button ng-click="changeBadmintonSet2(1)" class="btn btn-success">+1</button>
                    <button ng-click="changeBadmintonSet2(-1)" class="btn btn-danger">-1</button>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <button ng-click="endSetBadminton()" class="btn btn-warning">Finish Set</button>
            <button ng-click="resetGameBadminton()" class="btn btn-danger">Reset Game</button>
        </form>
        <form ng-submit="commentBadminton(badmintonComments)">
            <input class="form-control" ng-model="badmintonComments" placeholder="make some commentary">
            <button type="submit" class="btn btn-primary">Comment</button>
        </form>
        <div class="well">
            <div ng-repeat="c in badmintonScoreBoard.commentary track by $index">
                <b>{{c.time}}</b>
                <span>{{c.text}}</span>
            </div>
        </div>
    </div>

    <div ng-switch-when="volleyball">
        <p>No.of viewers - {{volleyballScoreBoard.viewers}}</p>
    <div>
        <b>LIVE : </b>
        <label class="switch">
            <input type="checkbox" ng-model="volleyballScoreBoard.isLive" ng-change="updateVolleyball()">
            <span class="slider round"></span>
        </label>
    </div>
    <div>
        <b>Break : </b>
        <label class="switch">
            <input type="checkbox" ng-model="volleyballScoreBoard.isBreak" ng-change="updateVolleyball()">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="well" ng-if="volleyballScoreBoard.setHistory.length > 0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Set Number</th>
                    <th>Wins</th>
                    <th>Losses</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="set in volleyballScoreBoard.setHistory track by $index">
                    <td>{{set.setnumber}}</td>
                    <td>

                        {{set.winner}} {{set.winpoints}}

                    </td>
                    <td>

                        {{set.loser}} {{set.losepoints}}

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h1>Set No : {{volleyballScoreBoard.setNumber}}</h1>
    <form ng-submit="updateVolleyball()">

        <div class="row">
            <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <input class="form-control" ng-model="volleyballScoreBoard.player1.name" name="bplayer1name" placeholder="name of player 1">
                <input class="form-control" ng-model="volleyballScoreBoard.player1.college" name="bplayer1college" placeholder="college of player 1">
                <div>
                    <input class="form-control" type="number" ng-model="volleyballScoreBoard.player1.points" placeholder="enter points">
                    <button ng-click="changeVolleyballScore1(1)" class="btn btn-success">+1</button>
                    <button ng-click="changeVolleyballScore1(-1)" class="btn btn-danger">-1</button>
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <input class="form-control" ng-model="volleyballScoreBoard.player2.name" name="bplayer2name" placeholder="name of player 2">
                <input class="form-control" ng-model="volleyballScoreBoard.player2.college" name="bplayer2college" placeholder="college of player 2">
                <div>
                    <input class="form-control" type="number" ng-model="volleyballScoreBoard.player2.points" placeholder="enter points">
                    <button ng-click="changeVolleyballScore2(1)" class="btn btn-success">+1</button>
                    <button ng-click="changeVolleyballScore2(-1)" class="btn btn-danger">-1</button>
                </div>

            </div>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <button ng-click="endSetVolleyball()" class="btn btn-warning">Finish Set</button>
        <button ng-click="resetGameVolleyball()" class="btn btn-danger">Reset Game</button>
    </form>
    <form ng-submit="commentVolleyball(volleyballComments)">
        <input class="form-control" ng-model="volleyballComments" placeholder="make some commentary">
        <button type="submit" class="btn btn-primary">Comment</button>
    </form>
    <div class="well" ng-if = "volleyballScoreBoard.commentary.length > 0">
        <div ng-repeat="c in volleyballScoreBoard.commentary track by $index">
            <b>{{c.time}}</b>
            <span>{{c.text}}</span>
        </div>
    </div>
</div>
</div>