
<h1 class = "heading team-name" style="font-size: 2em !important;">Badminton</h1>

<div ng-if="badmintonScoreBoard.isLive">
    <div class="well" ng-if="badmintonScoreBoard.matchWinner !== 'not declared'">
        <h4>
            <b>MATCH RESULT</b>
        </h4>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2>{{badmintonScoreBoard.player1.setWins}}</h2>
            <p>{{badmintonScoreBoard.player1.name}}</p>
            <p>{{badmintonScoreBoard.player1.college}}</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h1>{{badmintonScoreBoard.player2.setWins}}</h1>
            <p>{{badmintonScoreBoard.player2.name}}</p>
            <p>{{badmintonScoreBoard.player2.college}}</p>
        </div>
        <div ng-switch="badmintonScoreBoard.matchWinner">
            <div ng-switch-when="player1">
                <h5 class="text-success">
                    <b>{{badmintonScoreBoard.player1.name}}</b> Has
                    <b>Won</b> the Match!</h5>
            </div>
            <div ng-switch-when="player2">
                <h5 class="text-success">
                    <b>{{badmintonScoreBoard.player2.name}}</b> Has
                    <b>Won</b> the Match!</h5>
            </div>
            <div ng-switch-when="none">
                <h5 class="text-info">Match Was a
                    <b>Draw</b>
                </h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="well">
            <h1>Set {{ badmintonScoreBoard.setNumber }}</h1>
            <div class="half-time" ng-if="badmintonScoreBoard.isBreak">Break time!</div>
            <div class="row">
                <div class="col-sm-6">
                    <h2>{{ badmintonScoreBoard.player1.points }}</h2>
                    <h4>{{ badmintonScoreBoard.player1.name }}</h4>
                    <h4>{{ badmintonScoreBoard.player1.college }}</h4>
                    <h4>
                        <b>{{ badmintonScoreBoard.player1.setWins }}</b> Set wins</h4>

                </div>
                <div class="col-sm-6">
                    <h2>{{ badmintonScoreBoard.player2.points }}</h2>
                    <h4>{{ badmintonScoreBoard.player2.name }}</h4>
                    <h4>{{ badmintonScoreBoard.player2.college }}</h4>
                    <h4>
                        <b>{{ badmintonScoreBoard.player2.setWins }}</b> Set wins</h4>
                </div>
            </div>
            <table ng-if="badmintonScoreBoard.setHistory.length > 0" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">SET</th>
                        <th class="text-center">WINNER</th>
                        <th class="text-center">LOSER</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="set in badmintonScoreBoard.setHistory track by $index">
                        <td>{{set.setnumber}}</td>
                        <td>

                            {{set.winner}} ({{set.winpoints}})

                        </td>
                        <td>

                            {{set.loser}} ({{set.losepoints}})

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="comment-section" ng-if="badmintonScoreBoard.commentary.length > 0">
        <b>FEED</b> :-
        <div ng-repeat="c in badmintonScoreBoard.commentary track by $index">
            <div class="comment">
                <b>{{c.time}}</b>
                <span>{{c.text}}</span>
            </div>
        </div>
    </div>
</div>

<div class="not-live" ng-if="!badmintonScoreBoard.isLive">No Match is Being Played &#9785;</div>