<link href="../styles/container.css" rel="stylesheet" type="text/css">

<div ng-if="footballScoreBoard.isLive">

    <div class="well" ng-if="footballScoreBoard.matchWinner !== 'not declared'">
            <h4><b>MATCH RESULT</b></h4>
        <div class="col-sm-6 col-xs-6 col-lg-6 col-md-6">
            <h1>{{footballScoreBoard.team1.scores.length}}</h1>
            <p>{{footballScoreBoard.team1.name}}</p>
        </div>
        <div class="col-sm-6 col-xs-6 col-lg-6 col-md-6">
            <h1>{{footballScoreBoard.team2.scores.length}}</h1>
            <p>{{footballScoreBoard.team2.name}}</p>
        </div>
        <div ng-switch="footballScoreBoard.matchWinner">
            <div ng-switch-when="team1">
                <h5 class="text-success"><b>{{footballScoreBoard.team1.name}}</b> Has Won the Match!</h5>
            </div>
            <div ng-switch-when="team2">
                <h5 class="text-success"><b>{{footballScoreBoard.team2.name}}</b> Has Won the Match!</h5>
            </div>
            <div ng-switch-when="none">
                <h5 class="text-info">Match Was a <b>Draw</b></h5>
            </div>
        </div>
    </div>
    <div class="well">
        <div class="row">
            <div ng-if="footballScoreBoard.isHalfTime" class="half-time">HALF - TIME</div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12 col-lg-6 col-md-6">
                <div>
                    <p class="team-name">{{footballScoreBoard.team1.name}}</p>
                </div>
                <div>
                    <h2>{{footballScoreBoard.team1.scores.length}}</h2>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Goal</th>
                            <th class="text-center">Goal Scorer</th>
                            <th class="text-center">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="goal in footballScoreBoard.team1.scores track by $index">
                            <td>{{$index + 1}}</td>
                            <td>{{goal.scorer}}</td>
                            <td>{{goal.time}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6 col-xs-12 col-lg-6 col-md-6">
                <div>
                    <p class="team-name">{{footballScoreBoard.team2.name}}</p>
                </div>
                <div>
                    <h2>{{footballScoreBoard.team2.scores.length}}</h2>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Goal</th>
                            <th class="text-center">Goal Scorer</th>
                            <th class="text-center">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="goal in footballScoreBoard.team2.scores track by $index">
                            <td>{{$index + 1}}</td>
                            <td>{{goal.scorer}}</td>
                            <td>{{goal.time}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="well" ng-if="footballScoreBoard.commentary.length > 0">
        Commentary section : -
        <div ng-repeat="c in footballScoreBoard.commentary track by $index">
            <b>{{c.time}}</b>
            <span>{{c.text}}</span>
        </div>
    </div>
</div>

<div class="not-live" ng-if="!footballScoreBoard.isLive">No Match is Being Played &#9785;</div>