<link href="../styles/football.css" rel="stylesheet" type="text/css">

<div ng-if="footballScoreBoard.isLive">
    <div class="well">
        <div class="row">
            <div ng-if="footballScoreBoard.isHalfTime" class="half-time">HALF - TIME</div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12 col-lg-6 col-md-6">
                <div>
                    <p class="team-name">{{footballScoreBoard.team1.name}}</p>
                </div>
                <div>
                    <h2>{{footballScoreBoard.team1.scores.length}}</h2>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Goal</th>
                            <th class="text-center">Goal Scorer</th>
                            <th class="text-center">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="goal in footballScoreBoard.team1.scores track by $index">
                            <td>{{$index + 1}}</td>
                            <td>{{goal.scorer}}</td>
                            <td>{{goal.time}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6 col-xs-12 col-lg-6 col-md-6">
                <div>
                    <p class="team-name">{{footballScoreBoard.team2.name}}</p>
                </div>
                <div>
                    <h2>{{footballScoreBoard.team2.scores.length}}</h2>
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Goal</th>
                            <th class="text-center">Goal Scorer</th>
                            <th class="text-center">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="goal in footballScoreBoard.team2.scores track by $index">
                            <td>{{$index + 1}}</td>
                            <td>{{goal.scorer}}</td>
                            <td>{{goal.time}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="well" ng-if = "footballScoreBoard.commentary.length > 0">
        Commentary section : -
        <div ng-repeat="c in footballScoreBoard.commentary track by $index">
            <b>{{c.time}}</b>
            <span>{{c.text}}</span>
        </div>
    </div>
</div>

<div class="not-live" ng-if="!footballScoreBoard.isLive">No match is being played</div>