<div ng-if="tennisScoreBoard.isLive">
<div class="row">
    <p>Current Set - {{ tennisScoreBoard.setNumber }}</p>
    <div class="col-sm-6">
        <p>Name - {{ tennisScoreBoard.player1.name }}</p>
        <p>College - {{ tennisScoreBoard.player1.college }}</p>
        <p>Points - {{ tennisScoreBoard.player1.points }}</p>
        <p>Set wins - {{ tennisScoreBoard.player1.setWins }}</p>

    </div>
    <div class="col-sm-6">
        <p>Name - {{ tennisScoreBoard.player2.name }}</p>
        <p>College - {{ tennisScoreBoard.player2.college }}</p>
        <p>Points - {{ tennisScoreBoard.player2.points }}</p>
        <p>Set wins - {{ tennisScoreBoard.player2.setWins }}</p>
    </div>
</div>

<div class="well">
    <div ng-repeat="c in tennisScoreBoard.commentary">
        <b>{{c.time}}</b>
        <span>{{c.text}}</span>
    </div>
</div>
</div>

<div class="half-time" ng-if="tennisScoreBoard.isHalf">Half time!</div>
<div class="not-live" ng-if="!tennisScoreBoard.isLive" >No match is being played</div>