<div ng-if="volleyballScoreBoard.isLive">
    <div class="row">
        <div class="well" ng-if="volleyballScoreBoard.setHistory.length > 0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Set Number</th>
                        <th>Wins</th>
                        <th>Losses</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="set in volleyballScoreBoard.setHistory track by $index">
                        <td>{{set.setnumber}}</td>
                        <td>

                            {{set.winner}} {{set.winpoints}}

                        </td>
                        <td>

                            {{set.loser}} {{set.losepoints}}

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>Current Set - {{ volleyballScoreBoard.setNumber }}</p>
        <div class="col-sm-6">
            <p>Name - {{ volleyballScoreBoard.player1.name }}</p>
            <p>College - {{ volleyballScoreBoard.player1.college }}</p>
            <p>Points - {{ volleyballScoreBoard.player1.points }}</p>
            <p>Set wins - {{ volleyballScoreBoard.player1.setWins }}</p>

        </div>
        <div class="col-sm-6">
            <p>Name - {{ volleyballScoreBoard.player2.name }}</p>
            <p>College - {{ volleyballScoreBoard.player2.college }}</p>
            <p>Points - {{ volleyballScoreBoard.player2.points }}</p>
            <p>Set wins - {{ volleyballScoreBoard.player2.setWins }}</p>
        </div>
    </div>

    <div class="well" ng-if = "volleyballScoreBoard.commentary.length > 0">
        <div ng-repeat="c in volleyballScoreBoard.commentary track by $index">
            <b>{{c.time}}</b>
            <span>{{c.text}}</span>
        </div>
    </div>
    <div class="half-time" ng-if="volleyballScoreBoard.isBreak">Half time!</div>
</div>

<div class="not-live" ng-if="!volleyballScoreBoard.isLive">No match is being played</div>
