* {
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.well {
    background-color: #ECECEA;
    border: 1px solid #ccc;
    padding: 20px !important;
    border-radius: 7px;
    margin: 2% 5% 0px 5% !important;
    box-shadow: 5px 5px 10px #ddd;
    font-family: 'Comfortaa', cursive;
}

.team-name {
    font-family: 'Righteous', cursive;
    text-shadow: 1px 1px 3px #444;
    text-transform: capitalize;
    font-family: 'Vast Shadow', cursive;  
    font-size: 2em !important;
}

.half-time {
    color: red;
    text-shadow: 1px 1px 1px #444;
    font-weight: bolder;
}